<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Constant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B1432471F2FF02F0043FD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B1432601F2FF02F0043FD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B14326B1F2FF02F0043FD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
